@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

html {
    min-height: 100vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Poppins', system-ui, sans-serif;
}